In [4]:
 import pandas as pd
 import numpy as np

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rajan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rajan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\rajan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.0 MB 2.0 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/11.0 MB 2.0 MB/s eta 0:00:05
   ----- ---------------------------------- 1.6/11.0 MB 2.1 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/11.0 MB 2.2 MB/s eta 0:00:05
   -------- ------------------------------- 2.4/11.0 MB 1.9 MB/s eta 0:00:05
   ---------- ----------------------------- 2.9/11.0 MB 2.0 MB/s eta 0:00:04
   ------------ --------------------------- 3.4/11.0 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 3.9/11.0 MB 2.1 MB/s eta 0:00:04
   --------------- ------------------------ 4.2/11.0 MB 2.1 MB/s eta 0:00:04
   ----------------- ---------------------- 4.7/11.0 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.2/11.0 MB 2.1 MB/s eta 0:00:03
   --------------------- ------------------ 5.8/11.0 MB 2.1 MB/s eta 0:00:03
   --------------------- ------------------ 6.0/11.0 MB 2.1 MB/s eta 0:00:03
   ---------------------- ----------------- 6.3/11.0 MB 2.1 MB/s eta 0:00:03
   ----------------------- ---------------- 6.6/11.0 MB 2.0 MB/s eta 0:00:03
   ----------------------- ---------------- 6.6/11.0 MB 2.0 MB/s eta 0:00:03
   ----------------------- ---------------- 6.6/11.0 MB 2.0 MB/s eta 0:00:03
   ----------------------- ---------------- 6.6/11.0 MB 2.0 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.0 MB 1.7 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.0 MB 1.7 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.0 MB 1.5 MB/s eta 0:00:03
   -------------------------- ------------- 7.3/11.0 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.0 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.6 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.0 MB 1.6 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 1.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 1.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 1.6 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\Rajan\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
df = pd.read_csv(r"C:\Users\Rajan\Downloads\large_employee_dataset.csv")

In [65]:
df.describe()

               Age         Salary  ExperienceYears       Rating
count  1000.000000    1000.000000      1000.000000  1000.000000
mean     42.154085   89299.755187        19.348624     2.938934
std      12.642384   33830.965692        11.368730     1.124751
min      20.000000   30138.000000         0.000000     1.000000
25%      31.000000   59281.250000        10.000000     2.000000
50%      42.154085   89299.755187        19.348624     2.938934
75%      53.000000  116670.250000        29.000000     3.800000
max      64.000000  149664.000000        39.000000     5.000000

In [8]:
df.head(10)

  EmployeeID   Name   Age Department    Salary  ExperienceYears  Rating
0      E1000    Wei  52.0        inf       NaN             33.0     2.8
1      E1001   Rita  59.0         HR  108112.0             36.0     2.1
2      E1002  Karen  62.0    Support   88067.0              5.0     4.2
3      E1003  David  31.0      Sales   57516.0              6.0     2.3
4      E1004    Wei  63.0      Sales  117969.0             31.0     2.2
5      E1005  Linda  55.0    Finance   31089.0             31.0     1.9
6      E1006    Ali  23.0         IT   67346.0             24.0     1.5
7      E1007    Wei  24.0         IT       NaN             32.0     2.0
8      E1008  Karen  56.0         HR   40487.0              6.0     2.4
9      E1009  David   NaN      Sales   30155.0             11.0     3.7

In [54]:
df.isnull().sum()

EmployeeID         0
Name               0
Age                0
Department         0
Salary             0
ExperienceYears    0
Rating             0
dtype: int64

In [11]:
df["Salary"].mode()

0    inf
Name: Salary, dtype: float64

In [1]:
## replace the inf value by Nan for the column like age,salary,experienceyear and rating

In [8]:
df["Age"].replace([np.inf,-np.inf],np.nan, inplace= True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\124159343.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].replace([np.inf,-np.inf],np.nan, inplace= True)

In [11]:
df["ExperienceYears"].replace([np.inf,-np.inf],np.nan, inplace= True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\173231291.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ExperienceYears"].replace([np.inf,-np.inf],np.nan, inplace= True)

In [12]:
df["Salary"].replace([np.inf,-np.inf],np.nan, inplace= True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\1142907133.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].replace([np.inf,-np.inf],np.nan, inplace= True)

In [14]:
df["Rating"].replace([np.inf,-np.inf],np.nan, inplace= True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\1726373702.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].replace([np.inf,-np.inf],np.nan, inplace= True)

In [ ]:
## replace the nan value by Mean for the column like age,salary,experienceyear and rating

In [18]:
df["Salary"].fillna(df["Salary"].mean(),inplace=True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\2156103880.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(),inplace=True)

In [20]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\2595122914.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)

In [21]:
df["ExperienceYears"].fillna(df["ExperienceYears"].mean(),inplace= True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\2672822100.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ExperienceYears"].fillna(df["ExperienceYears"].mean(),inplace= True)

In [49]:
df["Rating"].fillna(df["Rating"].median(),inplace = True)

C:\Users\Rajan\AppData\Local\Temp\ipykernel_12988\4019419779.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(df["Rating"].median(),inplace = True)

In [25]:
df.["Department"].sum()

SyntaxError: invalid syntax (1831581798.py, line 1)

In [53]:
df.groupby("Department").size()

Department
Engineering    152
Finance        142
HR             168
IT             165
Sales          187
Support        163
Unknown         23
dtype: int64

In [46]:
df["Department"].replace("inf",np.nan,inplace=True)

In [47]:
df[df["Department"] == "inf"]

Empty DataFrame
Columns: [EmployeeID, Name, Age, Department, Salary, ExperienceYears, Rating]
Index: []

In [44]:
df["Department"].dtype

dtype('O')

In [52]:
df["Department"].fillna("Unknown",inplace =True)

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [59]:
## remove all dupluicate rows in dataset

In [61]:
df.drop_duplicates(inplace=True)

In [68]:
df.describe.()

SyntaxError: invalid syntax (2423585243.py, line 1)

In [69]:
## replace the nagative salary by average Salary

In [70]:
df["Salary"]=np.where(df["Salary"] < 0, df["Salary"].mean(),df["Salary"])

In [72]:
## remove the outlier from Salary column OR outlier Handling

In [76]:
salary_mean = df["Salary"].mean()
salary_std = df["Salary"].std()
lower_bound = salary_mean - (3* Salary_std)
upper_bound = salary_mean + (3*salary_std)

In [77]:
## remove rows where salary is too low or too high

In [80]:
df= (df["Salary"]>=lower_bound) & (df["Salary"] <= upper_bound)

In [82]:
df.to_csv("Cleaned_employee_data.csv",index =False)

print('Data cleaning completed saved as "Cleaned_employee_data.csv" ')

Data cleaning completed saved as "Cleaned_employee_data.csv"